<% content_for :title, t(".title") %>
<% content_for :headline do %><%= image_tag "/images/headlines/projects.png" %> <%= t(".title") %><% end %>

<ul>
  <% @users.each do |user| %>
    <li>
        <a href="<%= url_for(user) %>">
          <%= user.fullname %> gehoeren <%= user.projects.count %> Projekte
        </a>
    </li>
  <% end %>
</ul>

<%= will_paginate @users, :previous_label => '&laquo; Zurueck', :next_label => 'Vor &raquo;' %>