<% content_for :title, t(".title") %>
<% content_for :headline do %><%= image_tag "/images/headlines/users.png" %> <%= t(".title") %><% end %>

<%= form_for @search_with_projects do |f| %>
  <p>
    <%= f.label :fullname_contains, t("projects.form.label_name") %>
    <%= f.text_field :fullname_contains %>
    <%= f.label :fullname_contains, t("projects.form.label_studypath") %>
    <%= f.text_field :studypath_contains %>
    <%= f.submit t("common.search") %>
  </p>
  <%= f.sort_link :fullname, t("projects.form.label_name") %> |
  <%= f.sort_link :studypath,t("projects.form.label_studypath") %>
<% end %>

<h2 id="with_projects"><%= t(".headline_with_projects") %></h2>

<ul>
  <% @users_with_projects.each do |user| %>
    <li>
      <%= link_to t(".involvement", :name => user.fullname, :count => user.count), url_for(user) %>
    </li>
  <% end %>
</ul>

<%= will_paginate @users_with_projects, :param_name => "with_projects", :renderer => PaginationListLinkRenderer, :params => { :anchor => "with_projects" } %>

<h2 id="without_projects"><%= t(".headline_without_projects") %></h2>

<ul>
  <% @users_without_projects.each do |user| %>
    <li>
      <%= link_to url_for(user) do %>
        <%= user.fullname %><% if user.studypath %> - <%= user.studypath %><% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate @users_without_projects, :param_name => "without_projects", :renderer => PaginationListLinkRenderer, :params => { :anchor => "without_projects" } %>