<% content_for :title, @user.fullname %>
<% content_for :headline do %><%= image_tag avatar_url(@user, 48) %> <%= @user.fullname %><% end %>

<%= @user.fullname %> - <%= @user.email %>

<h2><%= t(".involvements") %></h2>
<ul>
  <% @projects.each do |project| %>
    <li>
        <a href="<%= url_for(project) %>">
          <%= project.title %>
        </a>
    </li>
  <% end %>
</ul>

<% if @user.followups.exists? %>
  <h2><%= t(".followups") %></h2>

  <ul>
  <% @user.followups.each do |followup| %>
    <li>
      <a href="<%= url_for(followup.project) %>">
        <%= followup.project.title %>
      </a>
      <% if canUnfollow? %>
        <%= link_to t("followups.links.unfollow"), followup, :method => :delete %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>