<% content_for :title, @user.fullname %>
<% content_for :headline do %><%= image_tag "/images/headlines/projects.png" %> <%= @user.fullname %><% end %>

<%= @user.fullname %> - <%= @user.email %>

<div>
Ist an folgenden Projekten beteiligt:<br />
<ul>
  <% @projects.each do |project| %>
    <li>
        <a href="<%= url_for(project) %>">
          <%= project.title %>
        </a>
    </li>
  <% end %>
</ul>

<% if @user.followups.count > 0 %>
  <h2><%= @user.fullname %> folgt folgenden Projekten:</h2>

  <ul>
  <% @user.followups.each do |followup| %>
    <li>
      <a href="<%= url_for(followup.project) %>">
        <%= followup.project.title %>
      </a> TODO: <%= link_to "Nicht mehr folgen", followup, :method => :delete %>
    </li>
  <% end %>
  </ul>
<% end %>

</div>