<h1 id="intro"><%= image_tag "/images/headlines/meet-ideas.png" %> <%= t("home.intro_1") %><br />
<span class="highlight"><%= t("home.intro_2") %></span> <%= t("home.intro_3") %><br />
<%= t("home.intro_4") %></h1>