<% content_for :title, t("home.title") %>

<%= render "intro" %>

<div id="teaserBox">
  <div class="user"><%= t("home.teaser") %></div>
  <a href="<%= url_for projects_path %>" class="actionButton actionButtonGreen"><span><%= t(".projects") %></span></a>
  <a href="<%= url_for new_project_path %>" class="actionButton actionButtonBlue"><span><%= t(".new_project") %></span></a>
</div>