<% content_for :title, t(".title") %>
<% content_for :headline do %><%= image_tag "/images/headlines/imprint.png" %> <%= t(".title") %><% end %>

<div>
  <address>
    <%= t(".institution") %><br/>
    Urstein Süd 1<br/>
    5412 Puch/Salzburg<br/>
    <%= t(".country") %>
  </address>
  T +43-(0)50-2211-0<br/>
  F +43-(0)50-2211-1099<br/>
  E-Mail: <%= mail_to "press@fh-salzburg.ac.at", "press@fh-salzburg.ac.at", :encode => "hex" %><br/>
  Web: <%= link_to "http://www.fh-salzburg.ac.at" %><br />
  <br/>
  <%= t(".report") %>:<br/>
  <%= mail_to "afritsch.mmt-b2009@fh-salzburg.ac.at", "Andreas Fritsch", :encode => "hex" %><br />
  <%= mail_to "shentzschel.mmt-b2010@fh-salzburg.ac.at", "Sören Hentzschel", :encode => "hex" %>
</div>
