<div class="fields">
  <%= f.label :date, "Datum:" %>
  <%= f.text_field :date %>
  <%= f.label :description, "Beschreibung:" %>
  <%= f.text_field :description %>
  <%= link_to_remove_fields "Termin löschen", f %>
</div>