<div class="fields">
  <%= f.label :image, t("projects.form.select_picture") %>
  <%= f.file_field :image %>
  <% if f.object.title.present? %>
    <%= f.object.title %>
    <img src="<%= f.object.image_url(:thumb) %>" alt="<%= f.object.title %>" />
  <% else %>
    <%= f.label :title, t("projects.form.title") %>
    <%= f.text_field :title %>
  <% end %>
  <%= link_to_remove_fields t("projects.form.remove_picture"), f %><br />
</div>