<%= form_for(@project) do |f| %>
  <h3>Projektbeschreibung</h3>
  <div>
    <%= f.label :title, t("projects.form.label_title") %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :status, t("projects.form.label_status") %><br />
    <%= f.text_field :status %>
  </div>
  <div>
    <%= f.label :description, t("projects.form.label_description") %><br />
    <%= f.text_area :description %>
  </div>
  <h3>Termine:</h3>
  <div>
    <%= f.fields_for :appointments do |builder| %>
      <%= builder.label :date, "Datum:" %>
      <%= builder.text_field :date %>
      <%= builder.label :description, "Beschreibung:" %>
      <%= builder.text_field :description %><br />
      <%= builder.check_box :_destroy %>
      <%= builder.label :_destroy, "Termin löschen" %><br />
    <% end %>
  </div>
  <h3>Bilder</h3>
  <div>
    <%= f.fields_for :pictures do |builder| %>
      <%= builder.label :path, "Bildpfad:" %><br />
      <%= builder.text_field :path %><br />
      <%= builder.check_box :_destroy %>
      <%= builder.label :_destroy, "Bild löschen" %><br />
    <% end %>
  </div>
  <div>
    <%= f.submit t("common.send") %>
  </div>
<% end %>