<% content_for :javascript do %>
  <% if @project.errors.any? %>
    <script type="text/javascript">
      $(document).ready(function(){
        var noty_id = noty({
          "text":"<% @project.errors.full_messages.each do |message| %><%= message %><br /><% end %>",
          "layout":"topCenter",
          "type":"error"
        });
      });
    </script>
  <% end %>
<% end %>

<%= form_for @project, :html => { :multipart => true } do |f| %>
  <h2><%= t("projects.headlines.description") %></h2>
  <div>
    <%= f.label :title, t("projects.form.label_title") %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :status, t("projects.form.label_status") %><br />
    <%= f.autocomplete_field :status, autocomplete_project_status_projects_path %>
  </div>
  <div>
    <%= f.label :description, t("projects.form.label_description") %><br />
    <%= f.text_area :description %>
  </div>
  <h2><%= t("projects.headlines.roles") %></h2>
  <div>
    <%= f.fields_for :roles do |builder| %>
      <%= render "roles", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields t("projects.form.add_role"), f, :roles %></p>
  </div>
  <h2><%= t("projects.headlines.appointments") %></h2>
  <div>
    <%= f.fields_for :appointments do |builder| %>
      <%= render "appointments", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields t("projects.form.add_appointment"), f, :appointments %></p>
  </div>
  <h2><%= t("projects.headlines.pictures") %></h2>
  <div>
    <%= f.fields_for :pictures do |builder| %>
      <%= render "pictures", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields t("projects.form.add_picture"), f, :pictures %></p>
  </div>
  <div>
    <%= f.submit t("common.send") %>
  </div>
<% end %>