<%= form_for(@project) do |f| %>
  <h3><%= t("projects.headlines.description") %>:</h3>
  <div>
    <%= f.label :title, t("projects.form.label_title") %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :status, t("projects.form.label_status") %><br />
    <%= f.text_field :status %>
  </div>
  <div>
    <%= f.label :description, t("projects.form.label_description") %><br />
    <%= f.text_area :description %>
  </div>
  <h3><%= t("projects.headlines.appointments") %>:</h3>
  <div class="fields">
    <%= f.fields_for :appointments do |builder| %>
      <%= render "appointments", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Appointment", f, :appointments %></p>
  </div>
  <h3><%= t("projects.headlines.pictures") %>:</h3>
  <div class="fields">
    <%= f.fields_for :pictures do |builder| %>
      <%= render "pictures", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Picture", f, :pictures %></p>
  </div>
  <div>
    <%= f.submit t("common.send") %>
  </div>
<% end %>