<% content_for :title, t(".title", :project => @project.title) %>

<h1><%= t(".title", :project => @project.title) %></h1>

<%= form_for(@project) do |f| %>
  <p>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit t(".edit") %>
  </p>
<% end %>

<%= link_to t(".back"), projects_path %>