<% content_for :title, t(".title") %>
<% content_for :headline do %><%= image_tag "/images/headlines/projects.png" %> <%= t(".title") %><% end %>

<p><%= link_to t(".new_project"), new_project_path %></p>

<%= form_for @search_projects do |f| %>
  <p>
    <%= f.label :title_or_description_contains, t("projects.form.label_search") %>
    <%= f.text_field :title_or_description_contains %>
    <%= f.submit t("common.search") %>
  </p>
  <%= f.sort_link :title, t("projects.index.sort_title") %> |
  <%= f.sort_link :status, t("projects.index.sort_status") %> |
  <%= f.sort_link :created_at, t("projects.index.sort_created") %> |
  <%= f.sort_link :updated_at, t("projects.index.sort_updated") %>
<% end %>

<ul id="projectlist">
  <% @projects.each do |project| %>
    <li>
      <a href="<%= url_for(project) %>"><%= truncate(project.title, :length => 60) %><br />
        <%= project.status %><br />
        <%= truncate(project.description, :length => 160) %>
      </a><br />
      <% if following?(project.id) %>
        <%= link_to t("followups.links.unfollow"), followup_path(following?(project.id)), :method => :delete %>
      <% else %>
        <%= link_to t("followups.links.follow"), followups_path(:project_id => project), :method => :post %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate @projects, :renderer => PaginationListLinkRenderer %>