<% content_for :title, t(".title") %>
<% content_for :headline do %><%= image_tag "/images/headlines/projects.png" %> <%= t(".title") %><% end %>

<%= link_to t(".new_project"), new_project_path %>

<ul id="projectlist">
  <% @projects.each do |project| %>
    <li>
      <a href="<%= url_for(project) %>"><%= truncate(project.title, :length => 60) %><br />
        <%= project.status %><br />
        <%= truncate(project.description, :length => 160) %>
      </a><br />
      <% if following?(project.id) %>
        <%= link_to "Nicht mehr folgen", followup_path(following?(project.id)), :method => :delete %>
      <% else %>
        <%= link_to "Folgen", followups_path(:project_id => project), :method => :post %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate @projects, :previous_label => '&laquo; Zurueck', :next_label => 'Vor &raquo;' %>