<% content_for :title, "Neues Projekt" %>

<h1>Neues Projekt</h1>

<%= form_for(@project) do |f| %>
  <div>
    <label for="project_title">Titel:</label><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <label for="project_status">Status:</label><br />
    <%= f.text_field :status %>
  </div>
  <div>
    <label for="project_description">Beschreibung:</label><br />
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit "Projekt anlegen" %>
  </div>
<% end %>

<%= link_to "Zurück", projects_path %>