<% content_for :title, @project.title %>

<h1><%= @project.title %></h1>

Status: [<%= @project.status %>]<br />
<div>Beschreibung: <%= simple_format(h(@project.description)) %></div>

<ul>
  <% @roles.each do |role| %>
    <li>
      <%= role.title %>: <%= role.firstname %> <%= role.lastname %>
    </li>
  <% end %>
</ul>

<ul>
<% @appointments.each do |appointment| %>
  <li><%= appointment.appointment.strftime('%d.%m.%Y %H:%M') %> - <%= appointment.description %></li>
<% end %>
</ul>

<ul>
<% @pictures.each do |picture| %>
  <li><%= image_tag(picture.path) %></li>
<% end %>
</ul>

<ul>
<% @comments.each do |comment| %>
  <li><%= comment.firstname %> <%= comment.lastname %> am <%= comment.created_at.strftime('%d.%m.%Y, %H:%Mh') %>:<br />
    <%= simple_format(h(comment.content)) %><br />
  </li>
<% end %>
</ul>

<p><%= link_to "Ändern", edit_project_path(@project) %></p>
<p><%= link_to "Zurück", projects_path %></p>
<p><%= link_to "Löschen", project_path(@project), :method => :delete, :confirm => "Möchtest du dieses Projekt wirklich löschen?" %></p>