<% content_for :title, @project.title %>

<h1><%= image_tag "/images/headlines/info.png" %> <%= @project.title %></h1>

<h2><%= t("projects.headlines.description") %></h2>

<p><strong><%= t(".published_by") %></strong> <%= @project.firstname %> <%= @project.lastname %></p>

<p><strong><%= t(".status") %></strong> <%= @project.status %></p>
<p><strong><%= t(".description") %></strong> <%= simple_format(h(@project.description)) %></p>

<% if @roles.count > 0 %>
  <h2><%= t("projects.headlines.roles") %></h2>
  <ul>
    <% @roles.each do |role| %>
      <li><%= role.title %>: <%= role.firstname %> <%= role.lastname %></li>
    <% end %>
  </ul>
<% end %>

<% if @appointments.count > 0 %>
  <h2><%= t("projects.headlines.appointments") %></h2>
  <ul>
    <% @appointments.each do |appointment| %>
      <li><%= l(appointment.date) %> - <%= appointment.description %></li>
    <% end %>
  </ul>
<% end %>

<% if @pictures.count > 0 %>
  <h2><%= t("projects.headlines.pictures") %></h2>
  <ul>
    <% @pictures.each do |picture| %>
      <li><%= image_tag(picture.path) %></li>
    <% end %>
  </ul>
<% end %>

<h2><%= t("projects.headlines.comments") %></h2>
<ul>
<% @comments.each do |comment| %>
  <li><%= comment.firstname %> <%= comment.lastname %> <%= t(".timeText") %> <%= l(comment.created_at) %>:<br />
    <%= simple_format(h(comment.content)) %><br />
  </li>
<% end %>
</ul>
<%= form_for([@project, @project.comments.build]) do |f| %>
  <div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.label :content, t("projects.form.label_comment") %><br />
    <%= f.text_area :content, :rows => 3 %>
  </div>
  <div>
    <%= f.submit t("common.send") %>
  </div>
<% end %>

<h2><%= t(".contact") %></h2>

<%= mail_to @project.email, @project.email, :encode => "hex" %>

<p><%= link_to t("common.back"), projects_path %></p>
<% if allowed? %>
  <p><%= link_to t("common.edit"), edit_project_path(@project) %></p>
  <p><%= link_to t("common.delete"), project_path(@project), :method => :delete, :confirm => t(".deleteConfirmation") %></p>
<% end %>