<% content_for :title, t(".title") %>
<% user_session = @user_session || UserSession.new %>

<h1><%= t(".title") %></h1>
<%= form_for user_session, :url => url_for(:action => 'create', :controller => 'user_sessions', :only_path => false) do |f| %>  
  <div>
      <p><%= f.label "login", t(".fhsid") %></p>
      <p><%= f.text_field "login" %></p>
      <p><%= f.label "password", t(".password") %></p>
      <p><%= f.password_field :password %></p>
  </div>
  <div class="login_buttons">
    <%= f.submit t("commin.send") %>
    <%= link_to t("common.cancel"), root_path %>
  </div>
<% end %>