<% user_session = @user_session || UserSession.new %>

<h1>Login</h1>
<%= form_for user_session, :url => url_for(:action => 'create', :controller => 'user_sessions', :only_path => false) do |f| %>  
  <div>
      <p><%= f.label "login","fhs Nummer" %></p>
      <p><%= f.text_field "login" %></p>
      <p><%= f.label "password", "Passwort" %></p>
      <p><%= f.password_field :password %></p>
  </div>
  <div class="login_buttons">
    <%= f.submit "Anmelden" %>
    <%= link_to "Abbrechen", root_path %>
  </div>
<% end %>