<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
  </head>
  <body>
    <p><%= t("contact_form.mailer.body.intro") %></p>
    <p>
      <%= t("contact_form.new.label_name") %> <%= @message.name %><br />
      <%= t("contact_form.new.label_email") %> <%= @message.email %><br />
      <%= t("contact_form.new.label_subject") %> <%= @message.subject %>
    </p>
    <p>----------------------------------</p>
    <p><%= @message.message %></p>
  </body>
</html>