<!DOCTYPE html>
<html lang="<%= t(".lang") %>">

<head>
  <meta charset="utf-8" />
  
  <title><%= yield :title %><%= t(".title_suffix") %></title>
  
  <meta name="description" lang="<%= t(".lang") %>" content="<%= t(".meta_description") %>" />
  <meta name="keywords" lang="<%= t(".lang") %>" content="<%= t(".meta_keywords") %>" />
  <meta name="robots" content="index, follow" />
  
  <%= stylesheet_link_tag "application", "jquery.noty", "noty_theme_default" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="outerWrapper">
    <div id="innerWrapper">
      <div id="logo">
        <a href="<%= url_for root_path %>"></a>
      </div>
      <div id="headerButtons">
        <% if(current_user) %>
          <div class="headerButton"><span><%= current_user.fullname %> | <%= link_to t(".logout"), logout_path %></span></div>
        <% else %>
          <a href="<%= url_for login_path %>" class="headerButton"><span><%= t(".login") %></span></a>
        <% end %>
      </div>
      <div class="clear"></div>
      <div id="content">
        <% if content_for?(:headline) %><h1><%= yield :headline %></h1><% end %>
        
        <% if @breadcrumbs %>
          <ul id="breadcrumbs">
            <li><%= t(".breadcrumbs") %> <%= link_to t(".homepage"), root_url %></li>
            <% @breadcrumbs.each do |txt, path| %>
              <li><%= link_to(h(txt), path) %></li>
            <% end %>
          </ul>
          <div class="clear"></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div id="footerContent">
        <div id="fhsLogo"><%= link_to "", "http://www.fh-salzburg.ac.at/" %></div>
        <div id="footerText"><%= t(".footerText_1") %><br /><%= t(".footerText_2") %></div>
        <div id="footerLinks">
          <%= link_to t(".fhboerse"), "http://fhboerse.mediacube.at/" %> |
          <%= link_to t(".portfolio"), "http://portfolio.multimediatechnology.at/" %> |
          <%= link_to t(".contact"), pages_imprint_path %> |
          <%= link_to t(".imprint"), pages_imprint_path %></div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "application", "jquery.noty", "timepicker" %>
  <% if flash[:notice] || flash[:error] %>
  <script type="text/javascript">
    $(document).ready(function(){
      var noty_id = noty({
        "text":"<% if flash[:notice] %><%= flash[:notice] %><% else %><%= flash[:error] %><% end %>",
        "layout":"topCenter",
        "type":"<% if flash[:notice] %>success<% else %>error<% end %>"
      });
    });
  </script>
  <% end %>
  <%= yield :javascript %>
</body>

</html>
